@media (max-width: 1100px) {
    #stars {
        display: none;
    }
    #lantern_left {
        display: none;
    }
    #lantern_right {
        display: none;
    }


    #stars-small {
        display: block;
    }
    #lantern_left-small {
        display: block;
        top: -15%;
    }
    #lantern_right-small {
        display: block;
        top: 10%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.main-body{
    position: relative;
    overflow: hidden;
}

.bg-image{
    position: absolute;
    opacity: 50%;
    z-index: 0;
}


body
{
    min-height: 100vh;
    background:linear-gradient(#280070,#6b3de0);
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}



section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 155px;
    top: 30%;
}


.text-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 100;
}



.buildings{
    z-index: 101;
}
.h3-main{
    position: absolute;
    top: 28%;
    font-size: 40px;
    color: #fff;
}

.btn{
    position: absolute;
    text-decoration: none;
    color: #190343;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 50px;
    z-index: 1000;
    top: 50%;
}

.btn:hover{
    cursor: pointer;
}

#scrollUpButton {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 5px;
    overflow: hidden;
    border: none;
    transition: opacity 1s ease-in-out;
}

#scrollUpButton.show {
    opacity: 1;
}

.hidden {
    display: none;
}



.sec{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 100px;
    color: #fff;
    gap: 20px;
}

.everything-else{
    background:linear-gradient(#190343,#280070);
}

.sec > h1{
    font-size: 150px;
    font-weight: 600;
}
.keyboard{
    display: flex;
    align-items: center;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side .text-section,img:hover{
    cursor: pointer;
}

.side-h3 > h3{
    font-size: 40px;
    font-weight: 400;
}

.side-h3 >h4{
    font-size: 25px;
    font-weight: 400;
}

.side-h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.text-section{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 5%;
    margin-bottom:2% ;
}

.text-section > h2{
    font-size: 50px;
    font-weight: 400;
    font-weight: 600;
    margin-bottom: -20px;
}

.sides{
    display: flex;
    flex-direction: row;
}

